/ScheduledVideoConverter/nbproject/private/
ScheduledVideoConverter/node_modules/*
node_modules/
*.mpg
ScheduledVideoConverter/output/
ScheduledVideoConverter/sample/
ScheduledVideoConverter/unconvertable/
ScheduledVideoConverter/output.txt